body{
    margin: 0;
    padding: 0;
    background-color: #E1E3E4;
}

main{
    flex: 1;
    padding-bottom: 5rem;
}

h2{
    margin: 0;
}

/*   ===HERO===   */

.hero{
    height: 55rem;
    background-image: linear-gradient(
        to right,
        rgba(20, 30, 60, 0.8),
        rgba(20, 30, 60, 0.2)
    ), url(img/team.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25%;
}

.hero span{
    font-family: 'Lexend';
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
    background-color: #E86F2C;
    width: 15rem;
    border-radius: 10px;
    padding: 1px 0;
    text-align: center;
}

h1{
    width: 50rem;
    font-family: 'Space Grotesk';
    font-style: italic;
    font-size: 5rem;
    color: white;
    margin: 0;
}

h1 strong{
    color: #E86F2C;
}

.hero p{
    font-family: 'Lexend';
    width: 30rem;
    color: #d8d8d8;
}

.hero a{
    font-family: 'Lexend';
    font-weight: 600;
    text-decoration: none;
    color: #F8F9FA;
    border: 0.2px solid #7c7c7c;
    border-radius: 10px;
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background: #bbbbbb3a;
    transition: all 0.3s ease;
}

.hero a:hover {
    color: #E86F2C;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 
        0 8px 25px rgba(0, 0, 0, 0.25),
        0 0 15px rgba(255, 255, 255, 0.2);
}

/*   ===PHILOSOPHY===   */

.phylosophy{
    display: flex;
    font-family: 'Lexend';
    margin: 5rem 0;
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
}

.phylosophy .photo-container{
    background-color: #4D5A99;
    margin: 10rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phylosophy img{
    width: 30rem;
    height: auto;
    margin: 3rem;
}

.phylosophy h2{
    font-family: 'Space Grotesk';
    font-style: italic;
    font-size: 3rem;
    color: #4D5A99;
}

.phylosophy .text-block p{
    color: #351000;
    margin-right: 10rem;
}

.phylosophy a{
    text-decoration: none;
}

.phylosophy a h4{
    color: #000;
}

.phylosophy .links{
    display: flex;
    gap: 5rem;
}

.phylosophy .links a{
    width: 20rem;
    padding: 1rem;
    border: 1px solid #8089E6;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.phylosophy .links a:hover{
    background-color: #C5C7C8;
    border: 1px solid #FF8C52;
    scale: 95%;
}

.phylosophy .links p{
    width: 100%;
}

.phylosophy iconify-icon{
    color: #A04100;
}

/*   ===PROGRAMS===   */

.programs{
    background-color: #F0F1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7rem 0;
}

.programs h2{
    font-family: 'Space Grotesk';
    font-style: italic;
    font-size: 3rem;
    color: #4D5A99;
}

.programs strong{
    font-family: 'Lexend';
    font-weight: 400;
    color: #351000;
}

.programs .progress{
    width: 95%;
    display: flex;
    margin: 2rem 0;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.programs .kids{
    width: 30%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    font-family: 'Lexend';
}

.programs .kids img{
    width: 100%;
    height: 13rem;
    object-fit: cover;
    object-position: center;
}

.programs .kids .card-content{
    margin: 1rem;
}

.programs .kids hr{
    margin: 10px 0;
    border: 2px solid #A04100;
    width: 2rem;
}

.programs .kids h3{
    font-family: 'Space Grotesk';
    font-weight: 800;
    font-size: 1.5rem;
    color:#4D5A99;
    margin: 0;
}

.programs .kids p{
    color: #351000;
    font-family: 'Lexend';
    font-size: 1rem;
}

.programs .kids a{
    text-decoration: none;
    color: #A04100;
    font-weight: 600;
    transition: all 0.3s ease;
}

.programs .kids a:hover{
    color: #E66E2B;
}

.programs .elite{
    width: 70%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(rgba(20, 30, 60, 0.2), rgba(20, 30, 60, 0.8)
        ),
    url(img/elite.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: 20px;
}

.programs .elite hr{
    all: unset;
    border: 4px solid #E66E2B;
    margin: 1rem 0;
    width: 3rem;
}

.programs .elite h3{
    font-family: 'Space Grotesk';
    font-weight: 600;
    font-style: italic;
    color: #fff;
    font-size: 2rem;
    margin: 0;
}

.programs .elite p{
    font-family: 'Lexend';
    width: 30rem;
    color: #F0F1F2;
}

.programs .elite a{
    font-family: 'Lexend';
    letter-spacing: 1.5px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-color: #A04100;
    border-radius: 5px;
    width: 20rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.programs .elite a:hover{
    background-color: #C5C7C8;
    scale: 97%;
}

.programs .campus{
    width: 95%;
    margin: 2rem;
    background-color: #C5C7C8;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.programs .campus .info{
    margin: 2rem;
}

.programs .campus .info strong{
    color: #A04100;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.programs .campus .info p{
    color: #351000;
    font-family: 'Lexend';
    font-size: 1rem;
    width: 40rem;
}

.programs .campus .info h3{
    font-family: 'Space Grotesk';
    margin: 0.5rem 0;
    color: #4D5A99;
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
}

.programs .time-period{
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.programs .date{
    font-family: 'Lexend';
    background-color: #fff;
    border-radius: 10px;
    width: 7rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programs .date strong{
    color: #A04100;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
}

.programs .date p{
    margin: 0;
    font-weight: 600;
    color: #343D96;
    letter-spacing: 1px;
}

/*   ===TEACHERS===   */

.teachers{
    background-color: #4D5A99;
    padding: 5rem 1rem;
    font-family: 'Lexend';
    box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.teachers h2{
    font-family: 'Space Grotesk';
    color: #F8F9FA;
    font-size: 2.5rem;
    font-style: italic;
}

.teachers p{
    color: #d8d8d8;
}

.teachers .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teachers .carousel{
    align-self: center;
    width: 90%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.teachers .card .photo{
    height: 30rem;
    width: 25rem;
    background-image: url(img/Oscar-Mendoza-Vargas.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.5);
}

.teachers .card h3{
    color: #F8F9FA;
}

.teachers .card strong{
    color: #FF8800;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
}

.teachers .photo strong{
    background-color: #A04100;
    color: #F8F9FA;
    font-weight: 400;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-left: 1rem;
    padding: 3px 10px;
    border-radius: 10rem;
}

.teachers .description{
    width: 25rem;
}

/*   ===JOIN US===   */

.join-us{
    padding: 80px 10%;
    margin: 3rem;
    border-radius: 20px;
    background: linear-gradient(
        110deg, #A04100 60%,
        #4D5A99 60%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Grotesk';
    color: #F8F9FA;
    gap: 12rem;
    box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.5);
}

.join-us h2{
    font-size: 3rem;
    font-style: italic;
    width: 30rem;
}

.join-us p{
    color: #d8d8d8;
}

.join-us a{
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: #F8F9FA;
    color: #A04101;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.5);
}

.join-us a:hover{
    color: #F8F9FA;
    background-color: #A04101;
    transition: all 0.3s ease-in-out;
}