<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academias Deportivas InterCECA - Cajamarca</title>
    <link rel="icon" type="image/png" href="img/Logotipo.jpg" />
    <link rel="stylesheet" href="../header_footer.css" />
    <link rel="stylesheet" href="#" />
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet" />
</head>

<body>
    <header>
        <nav>
            <a href="/" class="logo"> Club Deportivo InterCECA </a>
            <ul>
                <li><a href="/index.html#programs">Programas</a></li>
                <li><a href="/index.html#trainers">Entrenadores</a></li>
                <li><a
                        href="https://www.google.com/maps/place/Plaza+de+Armas+de+Cajamarca/@-7.1564274,-78.516982,18.25z/data=!4m15!1m8!3m7!1s0x91b25af91f37a899:0xe23ac68fb8d47272!2sRFVM%2B623,+Jr+del+Batán+126,+Cajamarca+06001!3b1!8m2!3d-7.1570085!4d-78.5174905!16s%2Fg%2F1jkxvy98v!3m5!1s0x91b25af91f263ceb:0xd69ad6c71bdf9075!8m2!3d-7.1569955!4d-78.5174615!16s%2Fg%2F1pv0zmwf?entry=ttu&g_ep=EgoyMDI2MDQyMi4wIKXMDSoASAFQAw%3D%3D">Sedes</a>
                </li>
            </ul>
            <a class="inscription" href="#">¡Inscríbete!</a>
        </nav>
    </header>
    <main>
        <div class="information">
            <span>¡DIVERSIÓN EN MOVIMIENTO!</span>
        <h1>DONDE NACEN LAS <strong>ESTRELLAS</strong></h1>
        <p>Nuestra academia Kids combina el desarrollo motor con la pura alegría del juego. No solo enseñamos baloncesto, construimos confianza y trabajo en equipo.</p>
        <div class="options">
            <a href="#">¡Inscríbete Ahora!</a>
            <a href="#">Ver video</a>
        </div>
        </div>
        <div class="imagen">
            <img alt="Imagen de grupo Kids">
        </div>
    </main>
    <footer>
        <div class="footer-info">
            <section>
                <h4>InterCECA</h4>
                <p>
                    Impulsando el futuro del baloncesto con pasión, técnica y valores.
                    Formamos atletas integrales para el mañana.
                </p>
                <button>
                    <iconify-icon icon="mdi:share-variant"></iconify-icon>
                </button>
                <button><iconify-icon icon="mdi:envelope"></iconify-icon></button>
            </section>
            <section>
                <h4>NAVEGACIÓN</h4>
                <div class="footer-links">
                    <a href="/index.html#programs">Programas</a>
                    <a href="/index.html#trainers">Entrenadores</a>
                    <a href="https://www.google.com/maps/place/Plaza+de+Armas+de+Cajamarca/@-7.1564274,-78.516982,18.25z/data=!4m15!1m8!3m7!1s0x91b25af91f37a899:0xe23ac68fb8d47272!2sRFVM%2B623,+Jr+del+Batán+126,+Cajamarca+06001!3b1!8m2!3d-7.1570085!4d-78.5174905!16s%2Fg%2F1jkxvy98v!3m5!1s0x91b25af91f263ceb:0xd69ad6c71bdf9075!8m2!3d-7.1569955!4d-78.5174615!16s%2Fg%2F1pv0zmwf?entry=ttu&g_ep=EgoyMDI2MDQyMi4wIKXMDSoASAFQAw%3D%3D">Sede</a>
                    <a href="#">Blog</a>
                </div>
            </section>
            <section>
                <h4>UBICACIÓN</h4>
                <p>
                    Calle Los Alisos 16 Manzana F Lote 16 Urbanización SANTA ROSA,
                    Cajamarca
                </p>
                <strong><iconify-icon icon="mdi:phone"></iconify-icon> +51 976 394
                    474</strong>
            </section>
            <section>
                <h4>NUESTRAS REDES</h4>
                <div class="footer-links">
                    <a href="#"><iconify-icon icon="mdi:facebook"></iconify-icon>Facebook</a>
                    <a href="#"><iconify-icon icon="mdi:instagram"></iconify-icon>Instagram</a>
                    <a href="#"><iconify-icon icon="mdi:whatsapp"></iconify-icon>Whatsapp</a>
                </div>
            </section>
        </div>
        <hr />
        <div class="copy">
            <small>&copy; 2026 Academias Deportivas InterCECA - Cajamarca</small>
        </div>
    </footer>
</body>

</html>