<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academias Deportivas InterCECA - Cajamarca</title>
    <link rel="icon" type="image/png" href="img/Logotipo.jpg" />
    <link rel="stylesheet" href="../header_footer.css" />
    <link rel="stylesheet" href="../landing.css" />
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet" />
</head>

<body>
    <header>
        <nav>
            <a href="/" class="logo"> Club Deportivo InterCECA </a>
            <ul>
                <li><a href="#">Programas</a></li>
                <li><a href="#">Entrenadores</a></li>
                <li><a href="#">Sedes</a></li>
            </ul>
            <a class="inscription" href="#">¡Inscríbete!</a>
        </nav>
    </header>
    <main>
        <div class="ball">
            <iconify-icon icon="streamline-plump:ball-solid" aria-hidden="true"></iconify-icon>
        </div>
        <h1>Academias Deportivas InterCECA</h1>
        <p>PRECISIÓN & DESEMPEÑO</p>
        <form class="login">
            <h2>Bienvenido de nuevo</h2>
            <p>Accede a tu panel de atleta o representante</p>
            <div class="field">
                <label for="mail">CORREO ELECTRÓNICO</label>
                <iconify-icon icon="material-symbols:mail" aria-hidden="true"></iconify-icon>
                <input type="email" id="mail" placeholder="ejemplo@correo.com">
            </div>
            <div class="field">
                <div class="field-header">
                    <label for="password">CONTRASEÑA</label>
                    <a href="#">¿Olvidaste tu clave?</a>
                </div>
                <iconify-icon icon="material-symbols:lock" aria-hidden="true"></iconify-icon>
                <input type="password" id="password" placeholder="●●●●●●●●">
            </div>
            <button type="submit">INICIAR SESIÓN 🡢</button>
            <div class="join">
                <p>¿Nuevo en la academia?</p>
                <a href="#">Solicitar admisión</a>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-info">
            <section>
                <h4>InterCECA</h4>
                <p>
                    Impulsando el futuro del baloncesto con pasión, técnica y valores.
                    Formamos atletas integrales para el mañana.
                </p>
                <button>
                    <iconify-icon icon="mdi:share-variant"></iconify-icon>
                </button>
                <button><iconify-icon icon="mdi:envelope"></iconify-icon></button>
            </section>
            <section>
                <h4>NAVEGACIÓN</h4>
                <div class="footer-links">
                    <a href="#">Programas</a>
                    <a href="#">Entrenadores</a>
                    <a href="#">Sede</a>
                    <a href="#">Blog</a>
                </div>
            </section>
            <section>
                <h4>UBICACIÓN</h4>
                <p>
                    Calle Los Alisos 16 Manzana F Lote 16 Urbanización SANTA ROSA,
                    Cajamarca
                </p>
                <strong><iconify-icon icon="mdi:phone"></iconify-icon> +51 976 394
                    474</strong>
            </section>
            <section>
                <h4>NUESTRAS REDES</h4>
                <div class="footer-links">
                    <a href="#"><iconify-icon icon="mdi:facebook"></iconify-icon>Facebook</a>
                    <a href="#"><iconify-icon icon="mdi:instagram"></iconify-icon>Instagram</a>
                    <a href="#"><iconify-icon icon="mdi:whatsapp"></iconify-icon>Whatsapp</a>
                </div>
            </section>
        </div>
        <hr />
        <div class="copy">
            <small>&copy; 2026 Academias Deportivas InterCECA - Cajamarca</small>
        </div>
    </footer>
</body>

</html>